---

# Targeting specific OSes or distributions:
#
#   - `ansible_system`               → Linux, BSD, ...
#   - `ansible_os_family`            → Debian, RedHat, ...
#   - `ansible_distribution`         → Debian, Ubuntu, RedHat, ...
#   - `ansible_distribution_release` → precise, wheezy, ...
#   - `ansible_pkg_mgr`              → apt, yum, ...
#   - `ansible_architecture`         → x86_64, x86_32, ...


# Debian
# ------

- name: Adding APT repository key
  when: ansible_os_family == 'Debian'
  become: yes
  register: _repo_key
  apt_key:
    url: http://download.rethinkdb.com/apt/pubkey.gpg
  tags:
    - deps
    - db
    - rethinkdb

- name: Add official APT repository
  when: ansible_os_family == 'Debian'
  become: yes
  register: _repo
  apt_repository:
    repo: "deb http://download.rethinkdb.com/apt {{ansible_distribution_release}} main"
  tags:
    - deps
    - db
    - rethinkdb

- name: Updating package list
  when: ansible_pkg_mgr == 'apt' and (_repo_key.changed or _repo.changed)
  become: yes
  apt:
    update_cache: yes
  tags:
    - deps
    - db
    - rethinkdb

- name: Install RethinkDB
  when: ansible_os_family == 'Debian'
  become: yes
  apt:
    name: "rethinkdb"
  tags:
    - deps
    - db
    - rethinkdb


# RedHat
# ------

- name: Add official YUM repository
  when: ansible_os_family == 'RedHat'
  become: yes
  register: _repo
  apt_repository:
    repo: "http://download.rethinkdb.com/centos/6/{{ansible_distribution_release}}/rethinkdb.repo"
  tags:
    - deps
    - db
    - rethinkdb

- name: Install RethinkDB
  when: ansible_os_family == 'RedHat'
  become: yes
  yum:
    name: "rethinkdb"
  tags:
    - deps
    - db
    - rethinkdb
